<ion-header>
    <ion-navbar>
      <ion-title>Compartir</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <h2>Compartir este vinculo</h2>
    <p>Este vinculo incluye el codigo del grupo para anotarse y formar parte del mismo</p>
      <ion-list>
         <ion-item>
            <ion-input [(ngModel)]="link" placeholder="Link o código"></ion-input>
            <!--<h2>{{grupo.key}}</h2>-->
        </ion-item>
      </ion-list>
    <button ion-button full (click)="share()"> Compartir </button>
  </ion-content>