<!-- -->
<ion-header></ion-header>
<ion-content padding class="animated fadeIn login">
        <div class="login-content">
      
                <div padding-horizontal text-center class="animated fadeInDown">
                        <!-- <h1 class = "logo">𝓚</h1> -->
                        <h2 ion-text id="appName">
                          <strong>Kinder App</strong>
                        </h2>
                </div>
      
          <!-- Login form -->
          <form class="list-form">
            <ion-item class="form-trans">
              <ion-label floating class="loginlabel">
                <ion-icon name="mail" item-start class="loginlabel"></ion-icon>
                Email
              </ion-label>
              <ion-input name="correo" [(ngModel)]="correo"  type="email" class="loginlabel"></ion-input>
            </ion-item>
      
            <ion-item class="form-trans">
              <ion-label floating>
                <ion-icon name="lock" item-start class="text-primary" class="loginlabel"></ion-icon>
                Contraseña
              </ion-label>
              <ion-input name="contrasena" [(ngModel)]="contrasena" type="password"></ion-input>
            </ion-item>
          </form>
      
          <p text-right ion-text color="secondary" tappable class="loginlabel"><strong>¿Olvidaste tu contraseña?</strong></p>
      
          <div>
            <button ion-button icon-start block color="blue" tappable (click)="iniciarSesion()">
              <ion-icon name="log-in"></ion-icon>
              Ingresar
            </button>
      
            <p text-center ion-text color="secondary" class="loginlabel">Inicia sesión con:</p>
      
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <button (click)="registerWithFacebook()" ion-button icon-only block color="facebook">
                    <ion-icon name="logo-facebook"></ion-icon>
                  </button>
                </ion-col>
                <ion-col col-6>
                  <button (click)="registerWithGoogle()" ion-button icon-only block color="google">
                    <ion-icon name="logo-googleplus"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
      
          </div>
      
      
          <!-- Other links -->
          <div text-center margin-top>
            <span ion-text color="white" tappable (click)="registrarse()">¿Eres nuevo? <strong>Registrate</strong></span>
          </div>
      
        </div>
      </ion-content>
      <ion-footer></ion-footer>
      