// page-login {
//     .primaryColor {
//         background-color: #1976D2;
//     }
//     .top-20 {
//         margin-top: 20px;
//     }
//     h3 {
//         color: white;
//     }
//     h1 {  
//         font-family: "Cardo", Arial, Helvetica, sans-serif;
//         font-size: 72px;  
//         background: -webkit-linear-gradient(left top, rgb(154, 247, 79), rgb(255, 0, 191));
//         background: linear-gradient(to bottom right, rgb(162, 252, 89), rgb(255, 0, 191));
//         background-clip: text;
//         -webkit-background-clip: text;  
//         -webkit-text-fill-color: transparent;  
//     }
// }

#appName{
    color: blue;
    font-family: 'Acme';
    font-size: 40px;

}

.loginlabel{
    color: black;
}

.form-trans{
    background-color: transparent;
}
