<ion-header>
    <ion-navbar>
        <ion-item style="background-color: transparent;" no-lines>
            <h2>Actividad</h2>
        </ion-item>
    </ion-navbar>
</ion-header>

<ion-content class="cardColor">
    <ion-card>
        <ion-list-header class="colorPrimary" text-center>
            {{actividad.titulo}}
        </ion-list-header>

        <img *ngIf="!actividad.urlImg" src="../../assets/imgs/sinImagen.png">
        <img style="max-height: 60%;" *ngIf="actividad.urlImg" [src]="actividad.urlImg">
        <!--Descripcion-->
        <ion-list-header no-lines class="colorPrimary ">
            Descripción
        </ion-list-header>
        <ion-card-content>
            <p>{{actividad.descripcion}}</p>
        </ion-card-content>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="../../assets/icon/calendar.png">
                    </ion-avatar>
                    <ion-note>Inicio</ion-note>
                </ion-item>
            </ion-col>
            <!--Fecha de inicio-->
            <ion-col>
                <ion-item>
                    <ion-note item-end padding>
                        {{actividad.fechaInicio}}
                    </ion-note>
                </ion-item>

            </ion-col>
        </ion-row>

        <!--Observaciones-->
        <ion-row>
            <ion-list-header no-lines class="colorPrimary">
                Observaciones
            </ion-list-header>
            <ion-card-content>
                <p>{{actividad.observacion}}</p>
            </ion-card-content>
        </ion-row>
        <!--rating star-->
        <ion-row>
            <ion-list-header no-lines class="colorPrimary">
                Ánimo
            </ion-list-header>
            <ion-card-content>
                <p>{{actividad.animo}}</p>
            </ion-card-content>
        </ion-row>

        <ion-row>
            <ion-list-header class="colorPrimary">
                Valoración
            </ion-list-header>
            <ion-item>
                <ionic3-star-rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#dee283" defaultColor="#f4f4f4" readonly="true" [rating]="actividad.valoracion">
                </ionic3-star-rating>
            </ion-item>
        </ion-row>
    </ion-card>

    <ion-fab right bottom>
        <button (click)="editarActividad()" ion-fab color="green"><ion-icon class="fontAdd" name="md-create"></ion-icon></button>
    </ion-fab>
</ion-content>