<div class="cardColor">

    <ion-segment class="tabSegment" [(ngModel)]="misgrupos">
        <ion-segment-button active="true" value="grupos">
            Mis grupos
        </ion-segment-button>
    </ion-segment>

    <ion-list>
        <button ion-item *ngFor="let grupo of items |async ">
            <ion-avatar (click)="irAct(grupo)" item-start>
                <img *ngIf="!grupo.urlImg" src="../../assets/icon/iconoClase.png">
                <img *ngIf="grupo.urlImg" [src]="grupo.urlImg">
            </ion-avatar>

            <h3>{{grupo.nombre}}</h3>            

        </button>
    </ion-list>
</div>