<ion-header no-shadow style="background-color: #FFFFFF;">
    <ion-navbar>
        <ion-buttons>
            <button ion-button icon-only (click)="openMenu()">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="cardColor">

    <div *ngIf="role == 'Administrador' ">

        <ion-segment class="tabSegment" [(ngModel)]="pet">
            <ion-segment-button value="kittens">
                My groups
            </ion-segment-button>
            <ion-segment-button value="puppies">
                People
            </ion-segment-button>
        </ion-segment>

        <div [ngSwitch]="pet">
            <div *ngSwitchCase="'puppies'">
                <page-lista-profes></page-lista-profes>
            </div>
            <div *ngSwitchCase="'kittens'">
                <page-listado-grupos></page-listado-grupos>
            </div>
        </div>
    </div>

    <div *ngIf="role == 'Profesor'">
        <page-grupos-compartidos></page-grupos-compartidos>
    </div>

</ion-content>