<ion-header>
    <ion-navbar>
        <ion-title>
            <div>
                Agrega un grupo
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="backgroundGris">
    <ion-card>
        <ion-card-header>
            <ion-item>
                <ion-avatar item-start>
                    <img *ngIf="!imagenPreviw" src="../../assets/icon/image.png">
                    <img *ngIf="imagenPreviw" [src]="imagenPreviw">
                </ion-avatar>
                <h2>{{nombreGrupo()}}</h2>
                <p>Fecha de registro: {{this.utility.today | date: 'dd/MM/yyyy'}}</p>
            </ion-item>
        </ion-card-header>

        <ion-card-content>
            <ion-list>

                <ion-item>
                    <ion-label floating class="labelForm">Nombre</ion-label>
                    <ion-input [(ngModel)]="grupo.nombre" maxlength="30" type="text"></ion-input>
                </ion-item>

            </ion-list>


            <div text-center class="card-background-page">
                <img (click)="openGallery()" style="max-height: 60%;" *ngIf="!imagenPreviw" src="../../assets/imgs/sinImagen.png">
                <img (click)="openGallery()" style="max-height: 60%;" *ngIf="imagenPreviw" [src]="imagenPreviw">

                <p *ngIf="!imagenPreviw" class="card-subtitle">
                    Agrega tu propia imagen
                </p>

            </div>
            <ion-footer no-shadow [hidden]="keyboard.isOpen()">
                <ion-toolbar position="bottom">
                    <button (click)="guardarGrupo()" [disabled]="grupo.nombre.length <= 1" ion-button block icon-start>
                        <ion-icon name="md-person-add"></ion-icon>
                        Registrar
                    </button>
                </ion-toolbar>
            </ion-footer>
        </ion-card-content>
    </ion-card>
</ion-content>