page-form-grupo {
    .backgroundGris {
        background-color: #F1F1F1;
    }
    .cc-selector {
        text-align: center;
    }
    .cc-selector input {
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .card-background-page {
        position: relative;
        text-align: center;
        .card-title {
            position: absolute;
            top: 70%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 70%;
            width: 100%;
            color: #fff;
        }
    }
}