<ion-header>
    <ion-navbar>
        <ion-item style="background-color: transparent;" no-lines>
            <h2>Tipo: {{estilo}}</h2>
        </ion-item>
    </ion-navbar>
</ion-header>

<ion-content class="cardColor">

    <ion-segment class="tabSegment" [(ngModel)]="switchItem">
        <ion-segment-button value="actividad">
            Actividad
        </ion-segment-button>
        <ion-segment-button value="caracteristicas">
            Caracteristicas
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="switchItem">

        <ion-card *ngSwitchCase="'caracteristicas'">
            <ion-list-header no-lines class="colorPrimary ">
                Habilidades de expresión
            </ion-list-header>
            <ion-row>
                <ion-col style="margin-left:8px;">
                    <ion-label class="colorPrimary ">Selecciona</ion-label>
                </ion-col>
                <ion-col>
                    <ion-label color="note">Dificultad</ion-label>
                </ion-col>
                <ion-col>
                    <ion-label color="note">Habilidad</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="margin-left:8px;">
                    <h2>Hablar</h2>
                </ion-col>
                <ion-col>
                    <ion-checkbox [checked]="hablar" disabled="true"></ion-checkbox>
                </ion-col>
                <ion-col>
                    <ion-checkbox [checked]="!hablar" color="secondary" disabled="true"></ion-checkbox>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="margin-left:8px;">
                    <h2>Leer</h2>
                </ion-col>
                <ion-col>
                    <ion-checkbox [checked]="leer" disabled="true"></ion-checkbox>
                </ion-col>
                <ion-col>
                    <ion-checkbox [checked]="!leer" disabled="true" color="secondary"></ion-checkbox>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="margin-left:8px;">
                    <h2>Escribir</h2>
                </ion-col>
                <ion-col>
                    <ion-checkbox [checked]="escribir" disabled="true"></ion-checkbox>
                </ion-col>
                <ion-col>
                    <ion-checkbox [checked]="!escribir" color="secondary" disabled="true"></ion-checkbox>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="margin-left:8px;">
                    <h2>Escuchar</h2>
                </ion-col>
                <ion-col>
                    <ion-checkbox [checked]="escuchar" disabled="true"></ion-checkbox>
                </ion-col>
                <ion-col>
                    <ion-checkbox [checked]="!escuchar" color="secondary" disabled="true"></ion-checkbox>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card style="margin-top:5px;" *ngSwitchCase="'caracteristicas'">
            <ion-item>
                <ion-label class="colorPrimary">Caracteristicas generales</ion-label>

            </ion-item>
            <ion-item>
                <ion-label floating>Ritmo aprendizaje</ion-label>

                <ion-select disabled="true" [(ngModel)]="ritmoAp" (ionChange)="onChange()" multiple="false">
                    <ion-option [selected]="ritmoAp==1" value="1">Lento</ion-option>
                    <ion-option [selected]="ritmoAp==2" value="2">Medio</ion-option>
                    <ion-option [selected]="ritmoAp==3" value="3">Rápido</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label floating>Plazo retención</ion-label>

                <ion-select disabled="true" [(ngModel)]="plazAten" (ionChange)="onChange()" multiple="false">
                    <ion-option [selected]="plazAten==1" value="1">Corto</ion-option>
                    <ion-option [selected]="plazAten==2" value="2">Medio</ion-option>
                    <ion-option [selected]="plazAten==3" value="3">Largo</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>Adecuación</ion-label>

                <ion-select disabled="true" [(ngModel)]="adecu" (ionChange)="onChange()" multiple="false">
                    <ion-option [selected]="adecu==1" value="1">Significativa</ion-option>
                    <ion-option [selected]="adecu==2" value="2">No significativa</ion-option>
                    <ion-option [selected]="adecu==3" value="3">Ninguna</ion-option>
                </ion-select>
            </ion-item>
            <ion-list-header no-lines class="colorPrimary ">
                Observaciones
            </ion-list-header>
            <ion-item>
                <ion-textarea disabled="true" [(ngModel)]="nino.observaciones" class="colorNote" style="border:solid 2px #f2f3f4;" rows="3" maxLength="200" placeholder="por ej.: dificultad visual alta" autocomplete="on " autocorrect="on "></ion-textarea> |
            </ion-item>
            <ion-item-divider></ion-item-divider>
        </ion-card>
        <!-- ****************************   actividad ******************************************* -->
        <ion-card *ngSwitchCase="'actividad'">
            <ion-list-header class="colorPrimary" text-center>
                {{actividad.titulo}}
            </ion-list-header>

            <img *ngIf="!actividad.urlImg" src="../../assets/imgs/sinImagen.png">
            <img style="max-height: 60%;" *ngIf="actividad.urlImg" [src]="actividad.urlImg">
            <!--Descripcion-->
            <ion-list-header no-lines class="colorPrimary ">
                Descripción
            </ion-list-header>
            <ion-card-content>
                <p>{{actividad.descripcion}}</p>
            </ion-card-content>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-avatar item-start>
                            <img src="../../assets/icon/calendar.png">
                        </ion-avatar>
                        <ion-note>Inicio</ion-note>
                    </ion-item>
                </ion-col>
                <!--Fecha de inicio-->
                <ion-col>
                    <ion-item>
                        <ion-note item-end padding>
                            {{actividad.fechaInicio}}
                        </ion-note>
                    </ion-item>

                </ion-col>
            </ion-row>

            <!--Observaciones-->
            <ion-row>
                <ion-list-header no-lines class="colorPrimary">
                    Observaciones
                </ion-list-header>
                <ion-card-content>
                    <p>{{actividad.observacion}}</p>
                </ion-card-content>
            </ion-row>
            <!--rating star-->
            <ion-row>
                <ion-list-header no-lines class="colorPrimary">
                    Ánimo
                </ion-list-header>
                <ion-card-content>
                    <p>{{actividad.animo}}</p>
                </ion-card-content>
            </ion-row>

            <ion-row>
                <ion-list-header class="colorPrimary">
                    Valoración
                </ion-list-header>
                <ion-item>
                    <ionic3-star-rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#dee283" defaultColor="#f4f4f4" readonly="true" [rating]="actividad.valoracion">
                    </ionic3-star-rating>
                </ion-item>
            </ion-row>
        </ion-card>

    </div>
</ion-content>