<ion-header>

  <ion-navbar color="kinder">
      <ion-title>Ingresar Padre</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="backgroundGris">
  <ion-card>
      <ion-card-header>
          <ion-item>
              <ion-avatar (click)="_imagePicker()" item-start>
                  <img *ngIf="!imagenPreviw" src="../../assets/icon/image.png">
                  <img *ngIf="imagenPreviw" [src]="imagenPreviw">
              </ion-avatar>
              <!--{{nino.nombre | textoVacio: 'Agrega un nombre'}}-->
              <h2>Nombre</h2>
              <p>November 5, 2018</p>
          </ion-item>
      </ion-card-header>

      <ion-card-content>
          <ion-list>
              <ion-item>
                  <ion-avatar item-start>
                      <img src="../../assets/icon/adult.png">
                  </ion-avatar>
                  <ion-label class="labelForm" floating >Nombre</ion-label>
                  <ion-input  [(ngModel)]="padre.nombre" type="text"></ion-input>
              </ion-item>


              <ion-item>
                  <ion-avatar item-start>
                      <img src="../../assets/icon/adult.png">
                  </ion-avatar>
                  <ion-label class="labelForm" floating >Primer apellido</ion-label>
                  <ion-input  type="text" [(ngModel)]="padre.apellido1"></ion-input>

              </ion-item>

              <ion-item>
                <ion-avatar item-start>
                    <img src="../../assets/icon/adult.png">
                </ion-avatar>
                <ion-label class="labelForm" floating>Segundo apellido</ion-label>
                <ion-input  type="text" [(ngModel)]="padre.apellido2"></ion-input>

                </ion-item>

                <ion-item>
                    <ion-avatar item-start>
                        <img src="../../assets/icon/name.png">
                    </ion-avatar>
                    <ion-label class="labelForm" floating >Identificación</ion-label>
                    <ion-input  type="text" [(ngModel)]="padre.cedula"></ion-input>
  
                </ion-item>


              <ion-item>
                <ion-avatar item-start>
                    <img src="../../assets/icon/phone.png">
                </ion-avatar>
                <ion-label class="labelForm" floating>Número telefónico</ion-label>
                <ion-input type="number" [(ngModel)]="padre.celular"></ion-input>
            </ion-item>

            </ion-list>

        <ion-footer no-shadow [hidden]="keyboard.isOpen()">
                <ion-toolbar position="bottom">
                        <button (click)="registrar()" ion-button block icon-start>
                                <ion-icon name="md-person-add"></ion-icon>
                                Registrar
                          </button>
                </ion-toolbar>
            </ion-footer>

      </ion-card-content>
  </ion-card>
|</ion-content>
