page-contact {
    .colorPrimary {
        color: #488aff;
    }
    .colorNote {
        color: #A5A5A5;
        font-weight: normal;
        font-size: .8706em;
        line-height: 1;
    }
    ion-textarea {
        border: #488aff;
    }
}