<ion-header>
    <ion-navbar>
        <ion-title>
            <div class="colorPrimary">
                Compartir este grupo
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
    
    <ion-content padding>
        <div text-center>
            <h2 class="colorNote">Selecciona los profesores</h2>
        </div>

        <!-- Aqui los profesores -->
        <!-- <button ion-item *ngFor="let item of items |async ">

            <h3 *ngIf="esProfesor(item.role)" >{{item.Nombre}}</h3>            
        </button> -->


        <ion-list>



            <button ion-item *ngFor="let item of items |async ">
                
                    <ion-avatar item-start>
                            <img src="../../assets/icon/adult.png">
                        </ion-avatar>
        
                    <h3>{{nombreCompleto(item)}}</h3>            
                            <ion-avatar (click)="compartirGrupo(item.escuelaKey, item.key)" [ngClass]="botonCompartido(item.key)[1] == 'verde' ? 'verde' : 'azul'" item-end>
                                <ion-icon name={{botonCompartido(item.key)[0]}}></ion-icon>
                            </ion-avatar>
                        
                </button>

          </ion-list> 

        <!-- <ion-card>
            <button ion-item clear no-lines (click)="enviarVinculo()">
                <ion-avatar item-start>
                    <img src="../../assets/icon/compartir.png">
                        </ion-avatar>
                            <h2>Compartir vínculo</h2>
                            <p>Enviar por email, whatsapp, o publicarlo en otra red</p>
                            
            </button>
        </ion-card>
        <ion-card>
            <button ion-item clear no-lines (click)="addIntegrantes()">
                <ion-avatar item-start>
                    <img src="../../assets/icon/personas.png">
                        </ion-avatar>
                            <h2>Agregar personas directamente </h2>
                            <p>Usar personas registrados en el sistema</p>
             </button>
        </ion-card> -->

    </ion-content>