page-register-modal {
    .primaryColor {
        background-color: #1976D2;
    }
    .top-20 {
        margin-top: 20px;
    }

    #rounded {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        margin-bottom: 10px;  
    }

    
}
