<!--
  Generated template for the RegisterModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="headerColor">

  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center class="primaryColor">
  <ion-grid>
    <ion-row>
      <ion-col class="top-20">
        <ion-list class="primaryColor">
            <ion-item class="primaryColor">
              <ion-label color="light" fixed>Nombre:</ion-label>
              <ion-input [(ngModel)]="user.Nombre" type="text" placeholder="Nombre" color="light"></ion-input>
            </ion-item>
            <ion-item class="primaryColor">
              <ion-label color="light" fixed>Apellido:</ion-label>
              <ion-input [(ngModel)]="user.Apellido" type="text" placeholder="Apellido" color="light"></ion-input>
            </ion-item>
            <ion-item class="primaryColor">
              <ion-label color="light" fixed>Telefono:</ion-label>
              <ion-input [(ngModel)]="user.Telefono" type="tel" placeholder="Telefono" color="light"></ion-input>
            </ion-item>
            <ion-item class="primaryColor">
                <ion-label color="light" fixed>Correo:</ion-label>
                <ion-input [(ngModel)]="correo" type="email" placeholder="Email" color="light"></ion-input>
              </ion-item>

              <ion-item class="primaryColor">
                <ion-label color="light" fixed>Código Institución</ion-label>
                <ion-input [(ngModel)]="institucion" type="text" placeholder="Código Institución" color="light" [disabled]=profesor></ion-input>
              </ion-item>
              <ion-list></ion-list>


          
            <ion-item class="primaryColor">
              <ion-label color="light" block>Tipo de Cuenta:</ion-label>
            </ion-item>
            <ion-item class="primaryColor">
              <ion-buttons>
                <button [disabled]="roleType0 == true" ion-button block small color="light" (click)="selected(0)">
                  Administrador
                </button>
                <!-- <button [disabled]="roleType1 == true" ion-button block small color="light" (click)="selected(1)">
                  Padre 
                </button>-->
                <button [disabled]="roleType2 == true" ion-button block small color="light" (click)="selected(2)">
                  Profesor
                </button>
              </ion-buttons>
            </ion-item>
            <ion-item class="primaryColor">                
              <ion-buttons>
                <div text-center>
                  <button ion-button small color="secondary" (click)="registerKinder()">Registrarse</button>
                  <button ion-button small color="danger" (click)="cancelRegister()">Cancelar</button>
                </div>
              </ion-buttons>
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
