<ion-header no-shadow style="background-color: #FFFFFF;">

    <ion-navbar>
        <ion-item style="background-color: transparent;" no-lines>
            <h2>Agrega un niñ@</h2>
        </ion-item>
    </ion-navbar>

</ion-header>


<ion-content class="backgroundGris">


    <!-- ***************************************************************************************** -->

    <ion-segment style="background-color: #F8F8F8;padding:5px;" [(ngModel)]="info">
        <ion-segment-button value="basica">Información Básica</ion-segment-button>
        <ion-segment-button value="adicional">Adicional</ion-segment-button>
    </ion-segment>


    <ion-card>

        <ion-card-header>
            <ion-item>
                <ion-avatar (click)="_imagePicker()" item-start>
                    <img *ngIf="!imagenPreviw" src="../../assets/icon/image.png">
                    <img *ngIf="imagenPreviw" [src]="imagenPreviw">
                </ion-avatar>
                <h2>{{nombreNino()}}</h2>
                <p>Fecha de registro: {{this.utility.today | date: 'dd/MM/yyyy'}}</p>
            </ion-item>
        </ion-card-header>

        <div [ngSwitch]="info">
            <ion-list *ngSwitchCase="'basica'">

                <ion-card-content>
                    <ion-list>

                        <ion-item>
                            <ion-avatar item-start>
                                <img src="../../assets/icon/kid.png">
                            </ion-avatar>
                            <ion-label floating class="labelForm">Nombre</ion-label>
                            <ion-input [(ngModel)]="nino.nombre" type="text"></ion-input>
                        </ion-item>


                        <ion-item>
                            <ion-avatar item-start>
                                <img src="../../assets/icon/kid.png">
                            </ion-avatar>
                            <ion-label floating class="labelForm">Primer apellido</ion-label>
                            <ion-input [(ngModel)]="nino.apellido1" type="text"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-avatar item-start>
                                <img src="../../assets/icon/kid.png">
                            </ion-avatar>
                            <ion-label floating class="labelForm">Segundo apellido</ion-label>
                            <ion-input [(ngModel)]="nino.apellido2" type="text"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-avatar item-start>
                                <img src="../../assets/icon/calendar.png">
                            </ion-avatar>
                            <ion-label floating class="labelForm">Fecha de nacimiento</ion-label>
                            <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="nino.edad"></ion-datetime>
                        </ion-item>

                        <ion-label class="labelForm">Selecciona el sexo</ion-label>
                        <ion-card center>
                            <div class="cc-selector">
                                <input checked="checked" id="visa" type="radio" name="credit-card" value="visa" (click)="seleccionarSexoNino()" />
                                <label class="drinkcard-cc visa" for="visa"></label>
                                <input id="mastercard" type="radio" name="credit-card" value="mastercard" (click)="seleccionarSexoNina()" />
                                <label class="drinkcard-cc mastercard" for="mastercard"></label>
                            </div>
                        </ion-card>

                    </ion-list>


                </ion-card-content>

            </ion-list>

            <ion-list *ngSwitchCase="'adicional'">
                <ion-item>
                    <ion-label>¿Vive con ambos padres?</ion-label>
                    <ion-toggle [(ngModel)]="nino.ambosPadres"></ion-toggle>
                </ion-item>

                <ion-item>
                    <ion-label>¿Tiene hermanos?</ion-label>
                    <ion-toggle [(ngModel)]="nino.hermanos"></ion-toggle>
                </ion-item>

                <ion-item>
                    <ion-label>¿Reside en zona urbana?</ion-label>
                    <ion-toggle [(ngModel)]="nino.zonaUrbana"></ion-toggle>
                </ion-item>

                <ion-item>
                    <ion-label>¿Reside en zona de riesgo?</ion-label>
                    <ion-toggle [(ngModel)]="nino.zonaRiesgo"></ion-toggle>
                </ion-item>

                <ion-footer no-shadow [hidden]="keyboard.isOpen()">
                    <ion-toolbar position="bottom">


                        <button (click)="registrar()" [disabled]="nino.nombre.length <= 1 ||nino.apellido1.length <= 1 || nino.edad == 0 || checkNino==checkNina" ion-button block icon-start>
                            <ion-icon name="md-person-add"></ion-icon>
                            Registrar
                        </button>
                    </ion-toolbar>
                </ion-footer>
            </ion-list>
        </div>
    </ion-card>



</ion-content>