<ion-header>
    <ion-navbar>
        <ion-item style="background-color: transparent;" no-lines>
            <ion-avatar item-start>
                <img *ngIf="nino.sexo == 'F' " src="../../assets/icon/girl.png">
                <img *ngIf="nino.sexo == 'M' " src="../../assets/icon/boy.png">
            </ion-avatar>
            <h2> {{nino.nombre}}</h2>
            <!--<ion-avatar (click)="compartir()" style="margin-top: 20px; color:#488aff; font-size: 20px;" item-end>
                                            <ion-icon name='share'></ion-icon>
            </ion-avatar>-->
        </ion-item>
    </ion-navbar>
</ion-header>

<ion-content class="cardColor" style="padding-top:5px;">
    <ion-segment class="tabSegment" [(ngModel)]="switchItem">
        <ion-segment-button value="Estilos">
            Learning style
        </ion-segment-button>
        <ion-segment-button value="Niñ@">
            Childs
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="switchItem">


        <ion-card *ngSwitchCase="'Estilos'">
            <ion-list-header no-lines class="colorPrimary ">
                Add activities
            </ion-list-header>

            <button ion-item clear no-lines>
                                <ion-avatar item-start>
                                        <img src="../../assets/icon/ojo.png">
                                    </ion-avatar>
                                    <h2>Visual</h2>
                                    <ion-avatar (click)="verActividades(visual)" item-end>
                                            <img style="max-width: 64px; max-height: 64px;" src="../../assets/icon/flechaDR.png">
                                    </ion-avatar>
                    </button>

            <button ion-item clear no-lines>
                            <ion-avatar item-start>
                                    <img src="../../assets/icon/nota.png">
                                </ion-avatar>
                                <h2>Auditory</h2>
                                <ion-avatar (click)="verActividades(auditivo)" item-end>
                                        <img src="../../assets/icon/flechaDR.png">
                                </ion-avatar>
           </button>


            <button ion-item clear no-lines>
                        <ion-avatar item-start>
                                <img src="../../assets/icon/kinestesico.png">
                            </ion-avatar>
                            <h2>Kinesthetic</h2>
                            <ion-avatar (click)="verActividades(kinestesico)" item-end>
                                    <img src="../../assets/icon/flechaDR.png">
                            </ion-avatar>
                </button>
        </ion-card>


        <ion-card *ngSwitchCase="'Niñ@'">
            <ion-item>
                <ion-avatar item-start>
                    <img src="../../assets/icon/name.png">
                </ion-avatar>
                <ion-label floating class="labelForm">Name</ion-label>
                <ion-input [disabled]="true" [(ngModel)]="nino.nombre" type="text"></ion-input>
            </ion-item>


            <ion-item>
                <ion-avatar item-start>
                    <img src="../../assets/icon/kid.png">
                </ion-avatar>
                <ion-label floating class="labelForm">Lastname</ion-label>
                <ion-input [disabled]="true" [(ngModel)]="nino.apellido1" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-avatar item-start>
                    <img src="../../assets/icon/calendar.png">
                </ion-avatar>
                <ion-label floating class="labelForm">Age</ion-label>
                <ion-input [disabled]="true" [(ngModel)]="nino.edad" type="text"></ion-input>
            </ion-item>

        </ion-card>



        <ion-card style="margin-top:5px;" *ngSwitchCase="'Niñ@'">
            <ion-item>
                <ion-label class="colorPrimary">General characteristics</ion-label>

            </ion-item>
            <ion-item>
                <ion-label floating>Learning rhythm</ion-label>

                <ion-select [(ngModel)]="ritmoAp" (ionChange)="onChange()" multiple="false">
                    <ion-option [selected]="ritmoAp==1" value="1">slow</ion-option>
                    <ion-option [selected]="ritmoAp==2" value="2">medium</ion-option>
                    <ion-option [selected]="ritmoAp==3" value="3">Fast</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label floating>Term of attention</ion-label>

                <ion-select [(ngModel)]="plazAten" (ionChange)="onChange()" multiple="false">
                    <ion-option [selected]="plazAten==1" value="1">Short</ion-option>
                    <ion-option [selected]="plazAten==2" value="2">Medium</ion-option>
                    <ion-option [selected]="plazAten==3" value="3">Long</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>Adecuación</ion-label>

                <ion-select [(ngModel)]="adecu" (ionChange)="onChange()" multiple="false">
                    <ion-option [selected]="adecu==1" value="1">Significativa</ion-option>
                    <ion-option [selected]="adecu==2" value="2">No significativa</ion-option>
                    <ion-option [selected]="adecu==3" value="3">Ninguna</ion-option>
                </ion-select>
            </ion-item>
            <ion-list-header no-lines class="colorPrimary ">
                Observaciones
            </ion-list-header>
            <ion-item>
                <ion-textarea [(ngModel)]="nino.observaciones" (keypress)="keyup()" class="colorNote" style="border:solid 2px #f2f3f4;" rows="3" maxLength="200" placeholder="por ej.: dificultad visual alta" autocomplete="on " autocorrect="on "></ion-textarea> |
            </ion-item>
            <ion-item-divider></ion-item-divider>
            <ion-item>
                <button (click)="editarCaractGenerales()" [disabled]="edit" ion-button block icon-start>
                    <ion-icon name="md-create"></ion-icon>
                    Editar
                </button>
            </ion-item>
        </ion-card>

        <ion-card *ngSwitchCase="'Estilos'">
            <ion-list-header no-lines class="colorPrimary ">
                Expression skills
            </ion-list-header>
            <ion-row>
                <ion-col style="margin-left:8px;">
                    <ion-label class="colorPrimary ">Choose</ion-label>
                </ion-col>
                <ion-col>
                    <ion-label color="note">Difficulty</ion-label>
                </ion-col>
                <ion-col>
                    <ion-label color="note">Ability</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="margin-left:8px;">
                    <h2>Talk</h2>
                </ion-col>
                <ion-col>
                    <ion-checkbox (click)="cambiarHabilidad('hablar')" [checked]="hablar" disabled="activarCaracteristicas"></ion-checkbox>
                </ion-col>
                <ion-col>
                    <ion-checkbox (click)="cambiarHabilidad('hablar')" [checked]="!hablar" color="secondary" disabled="activarCaracteristicas"></ion-checkbox>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="margin-left:8px;">
                    <h2>Read</h2>
                </ion-col>
                <ion-col>
                    <ion-checkbox (click)="cambiarHabilidad('leer')" [checked]="leer" disabled="activarCaracteristicas"></ion-checkbox>
                </ion-col>
                <ion-col>
                    <ion-checkbox (click)="cambiarHabilidad('leer')" [checked]="!leer" disabled="activarCaracteristicas" color="secondary"></ion-checkbox>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="margin-left:8px;">
                    <h2>Writing</h2>
                </ion-col>
                <ion-col>
                    <ion-checkbox (click)="cambiarHabilidad('escribir')" [checked]="escribir" disabled="activarCaracteristicas"></ion-checkbox>
                </ion-col>
                <ion-col>
                    <ion-checkbox (click)="cambiarHabilidad('escribir')" [checked]="!escribir" color="secondary" disabled="activarCaracteristicas"></ion-checkbox>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="margin-left:8px;">
                    <h2>Listening</h2>
                </ion-col>
                <ion-col>
                    <ion-checkbox (click)="cambiarHabilidad('escuchar')" [checked]="escuchar" disabled="activarCaracteristicas"></ion-checkbox>
                </ion-col>
                <ion-col>
                    <ion-checkbox (click)="cambiarHabilidad('escuchar')" [checked]="!escuchar" color="secondary" disabled="activarCaracteristicas"></ion-checkbox>
                </ion-col>
            </ion-row>
            <ion-item>
                <button (click)="editarCaract()" [disabled]="editar" ion-button block icon-start>
                    <ion-icon name="md-create"></ion-icon>
                    Edit
                </button>
            </ion-item>

        </ion-card>
    </div>

</ion-content>