page-estilo-aprendizaje {
    .addGreen {
        background-color: #16e053;
        color: #ffff;
    }
    .colorPrimary {
        color: #4086CD;
    }
    .colorNote {
        color: #A5A5A5;
    }
    .cardColor {
        background-color: #F0F0F0;
    }
}