page-form-actividad {
    .colorNote {
        color: #A5A5A5;
        font-weight: normal;
        font-size: .8706em;
        line-height: 1;
    }
    ion-textarea {
        border: #488aff;
    }
    .card-background-page {
        position: relative;
        text-align: center;
        .card-title {
            position: absolute;
            top: 70%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 70%;
            width: 100%;
            color: #fff;
        }
    }
    ion-icon {
        font-size: 40px; //Preferred size here
    }
}