<!--
  Generated template for the MisHijosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Niñ@s</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="trips detail-bg">
    <ion-list>

        <div class="trip card" tappable (click)="registrarHijo()" margin-bottom>
            <div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + this.url1 + ')'}">
                <div class="background-filter rlt">
                    <div class="align-bottom" padding-left padding-right>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="padding-sm primary-bg">
                <ion-icon name="add" class="text-white"></ion-icon>
                <span ion-text class="text-white">Registrar Hijo(a)</span>
            </div>
        </div>

        <ion-item-divider>
            <h3 text-center>Nin@s Registrados</h3>
        </ion-item-divider>

        <ion-item *ngFor="let item of items | async">
            <ion-avatar item-start>
                <img *ngIf="item.sexo == 'F' " src="../../assets/icon/girl.png">
                <img *ngIf="item.sexo == 'M' " src="../../assets/icon/boy.png">
            </ion-avatar>
            <h2>{{item.nombre}}</h2>
            <p>{{item.apellido1}}</p>
        </ion-item>
    </ion-list>
</ion-content>