<ion-menu [content]="content">

    <ion-header>
        <img src="../assets/imgs/header.png" alt="">
    </ion-header>

    <ion-content>
        <ion-list no-lines>
            <button (click)="openPage(crearGrupo)" ion-item>
                        <ion-avatar item-start>
                            <img  src="../../assets/icon/iconoClase.png">
                        </ion-avatar>            
                        <h2 >Agregar un grupo</h2>                        
             </button>
            <button ion-item>
                <ion-avatar item-start>
                    <img  src="../../assets/icon/addprofe.png">
                </ion-avatar>            
                <h2 >Agregar docente</h2>                        
            </button>

            <button (click)="openPage(graficoPage)" ion-item>
                <ion-avatar item-start>
                    <img  src="../../assets/imgs/grafico1.jpg">
                </ion-avatar>            
                <h2 >Generar graficos</h2>                        
            </button>

            <button (click)="openPage(PayPalPage)" ion-item>
                <ion-avatar item-start>
                    <img  src="../../assets/icon/suscrito.png">
                </ion-avatar>            
                <h2 >Premium</h2>                        
            </button>

            <button ion-item color="danger" (click)="LogOut()">
                <ion-icon name="log-out"></ion-icon>
                Cerrar Sesion                       
            </button>

        </ion-list>
    </ion-content>
</ion-menu>


<ion-nav [root]="rootPage" #content></ion-nav>