// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.labelForm {
    color: #1976D2;
}

.item-grupo-lista {
    height: 10px;
}

.textNegro {
    color: black;
}

.cardColor {
    background-color: #F0F0F0;
}

.colorPrimary {
    color: #4086CD;
}

.tabSegment {
    background-color: #F8F8F8;
    padding: 5px;
}

.registro {
    height: 100%;
}

h2 {
    color: #4086CD;
}

// global styles
.primary-bg {
    background-color: color($colors, primary) !important;
}

.padding-sm {
    padding: 1rem;
}

.pull-left {
    float: left;
}

.text-white {
    color: #fff;
}

.detail-bg {
    background-color: #f1f1f5;
}

.trips {
    .card {
        border-radius: 1rem
    }
    .trip {
        overflow: hidden;
        .background {
            background-size: 100% auto;
            background-position: center;
            .background-filter {
                height: 10rem;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));
                .align-bottom {
                    width: 100%;
                    h6 {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

// Animate CSS
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    background-color: #fff;
    &::after {
        content: "";
        background: url("../assets/imgs/bg2.png") no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}

.logo {
    width: 60px;
    height: 60px;
    margin: 20px auto 0;
    border-radius: 10%;
    background: url("../assets/img/ionic3-ico.png") no-repeat;
    background-size: 100%;
}

// style for auth pages
.auth-page {
    background-color: #fff;
    &::after {
        content: "";
        background: url("../assets/imgs/bg2.png") no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
    }
    .scroll-content {
        display: flex;
        align-items: center;
        justify-content: center;
        //background: rgba(50, 10, 92, .4);
        .login-content {
            width: 86%;
            .logo {
                width: 60px;
                height: 60px;
                margin: 20px auto 0;
                border-radius: 10%;
                background: url("../assets/img/ionic3-ico.png") no-repeat;
                background-size: 100%;
            }
            .list-form {
                padding: 0;
                margin-bottom: 0;
                ion-item {
                    background: none;
                    padding: 0;
                    &:first-child {
                        border-top: none;
                    }
                    &:after {
                        display: none;
                    }
                    ion-label {
                        font-size: 1em;
                        color: color($colors, primary);
                    }
                    input {
                        color: color($colors, primary);
                    }
                }
            }
        }
    }
}

.verde{
    margin-top: 20px; color:lightgreen; font-size: 20px;
}

.azul{
    margin-top: 20px; color:#488aff; font-size: 20px;
}