<div class="cardColor">
    <ion-list>
        <button ion-item *ngFor="let grupo of items |async ">
            <ion-avatar (click)="irAct(grupo)" item-start>
                <img *ngIf="!grupo.urlImg" src="../../assets/icon/iconoClase.png">
                <img *ngIf="grupo.urlImg" [src]="grupo.urlImg">
            </ion-avatar>

            <h3>{{grupo.nombre}}</h3>            
                    <ion-avatar (click)="add(grupo)" style="margin-top: 20px; color:#488aff; font-size: 20px;" item-end>
                        <ion-icon name='share'></ion-icon>
                    </ion-avatar>
        </button>
    </ion-list>

    <ion-fab right bottom>
        <button (click)="agregarGrupo()" ion-fab color="green"><ion-icon class="fontAdd" name="add"></ion-icon></button>
    </ion-fab>

</div>