<!--
  Generated template for the GraficoLineaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-item style="background-color: transparent;" no-lines>
            <h2>Visuales</h2>
        </ion-item>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card *ngIf="terminado">
        <div>
            <div style="display: block;">
                <canvas id="chart" baseChart width="300" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </ion-card>
</ion-content>