<ion-header>

    <ion-navbar>

        <ion-item style="background-color: transparent;" no-lines>
            <ion-avatar item-start>
                <img src="../../assets/icon/iconoClase.png">
            </ion-avatar>
            <h2>{{grupo.nombre}}</h2>
            <!--<ion-avatar (click)="compartir()" style="margin-top: 20px; color:#488aff; font-size: 20px;" item-end>
                                    <ion-icon name='share'></ion-icon>
                </ion-avatar>-->
        </ion-item>


    </ion-navbar>

</ion-header>


<ion-content class="cardColor" style="padding-top:5px;">

    <ion-segment class="tabSegment" [(ngModel)]="switch">
        <ion-segment-button value="Ninos">
            Students
        </ion-segment-button>
        <ion-segment-button value="Docentes">
            <label for="">Graphs</label>
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="switch">
        <div *ngSwitchCase="'Ninos'">
            <page-grup-ninos></page-grup-ninos>
        </div>
        <div *ngSwitchCase="'Docentes'">
            <page-graficos></page-graficos>
        </div>
    </div>

</ion-content>