<ion-header>
        <ion-navbar>
            <ion-title>
                <div class="colorPrimary">
                    <p>Estudiantes registrados</p> <!--jalar de bd-->
                </div>
            </ion-title>
        </ion-navbar>
    </ion-header>

<ion-content padding>
        <ion-searchbar></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let estudiante of items | async">
            <ion-avatar item-start>
                <img src="../../assets/icon/image.png">

            </ion-avatar>
            <ion-label>{{estudiante.nombre}} {{estudiante.apellido1}}</ion-label>
            <ion-radio ng-model="choice" ng-value="1"></ion-radio>
        </ion-item>
    </ion-list>
</ion-content>